body {
  background-color: beige;
}

.mainText {
  text-align: center;
}
.lcanne {
  color: grey;
  font-size: 35px;
}
.firstLine {
  color: grey;
  font-size: 40px;
}
.secondLine {
  margin-top: 0.1%;
}
.mainView {
  text-align: center;
}
.ulHeader2 {
  text-align: center;
  display: inline;
}
