body {
  background-image: url("../images/bc1.jpg");
}
.headerul {
  list-style-type: none;
  display: inline-flex;
  width: auto;
}
.headli {
  float: center;
  background-color: transparent;
  opacity: 0.5;
  text-align: center;
}
li a {
  padding: 10px;
  border-right: 1px solid rgb(88, 89, 92);
  border-left: 1px solid rgb(88, 89, 92);
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
li :hover {
  background-color: whitesmoke;
  opacity: 0.5;
}
.mainText {
  text-align: center;
}
.lcanne {
  color: grey;
  font-size: 35px;
}
.firstLine {
  color: grey;
  font-size: 40px;
}
.secondLine {
  margin-top: 0.1%;
}
.mainView {
  text-align: center;
}
